body{
	background-color: #d9d9d9;
	font-family: Helvetica, Arial;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}




header{

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  padding:0;
  margin:0;
  height: 8vw;
  width: 100%;
  background-color: #80bdff;
}
.logo
{
	padding-top: 0.5%;
	padding-left: 0.5%;
	width: 7%;
	height: 6vw;
}
h1
{
	margin-top : 5%;
	font-size: 4vw;
	padding-left: 35%;
	font-family: cursive;
	display: inline-block;
	font-style: oblique;
	padding-top: 0%;
}
#header{
	position: absolute;
	margin-top: 2%;
}


.quote
{
	float: none;
	text-align: center;
}






nav {
    font-size: 1.5vw;
    width: 100%;
	background-color: #9494b8;
}
nav li{
	display:inline;
	text-align: center;
	list-style-type: none;
	font-family: monospace;
	text-decoration-style: none;
}

nav a{
	text-decoration: none;
	padding: 5px;
	float: left;
	background-color: #9494b8;
	color: white;
	width : 19.1%;
	
}

nav a.active {
  background-color: #4CAF50;
  color: white;
}

a:hover{
  color: #0080ff;
}


a{
	text-decoration: none;
	color:#8080ff;
	padding-left: 10%;
	
}



.about_us_images
{
	margin-right: 0px;
	float: left;
}
#80bdff
h2
{
	text-decoration: underline;
	float: left;
}


textarea.message
{
	float: left;
}
span.charCount
{
  color: red;
}
.error_message
  {
    font-size: 11;
    color: red;
  }



#main{
	text-align: center;
	width: 90%;
	height: 96%;
	overflow: auto;
}


label{
	text-align: center;#80bdff
}


#video{
	position: relative;
	left: 15%;
	margin-top: 20px;
	width: 20%;
	height: 30%;
}

#textarea_message{

display: block;
text-align: left;
font-size: 1.25vw;

}








#about-main{
	left : 500px;
	text-align: center;
	width: 30%;
	height: 96%;
	overflow: auto;
	postion: absolute;
	padding-left: 33%;
	
}
#History h1{;
	font-family: monospace;
	padding-right : 25px;
	margin-right: 400px;
}

#Present h1{
	padding-top : 25px;
	font-family: monospace;
	padding-right : 25px;
	margin-right: 400px;
}

#Our_Goal h1{
	padding-top : 25px;
	font-family: monospace;
	padding-right : 1px;
	margin-right: 400px;
}






#contact{
	position: relative;
	top: 60%;
	text-align: center;

}
#developers{
	position: relative;
	top: 80%;
	text-align: center;

}











#footer{
	position: fixed;
	left : 0%;
	width : 100%;
	bottom: 0px;
	background-color:#80bdff;
	clear: both;
	text-align: center;

}

